In [1]:
import pandas as pd
import pandas as pd
import seaborn as sns
import os
import numpy as np
import matplotlib.pyplot as plt

import random

In [2]:
trans=pd.read_csv('crosstab_wednesday',index_col=0)

In [3]:
import random

location_list = ['dairy','drinks','fruit','spices']

first_location = random.choice(location_list)
#print(first_location)

In [4]:
location=random.choices(population=trans.columns,weights=trans.loc[first_location])[0]

In [5]:
next_location=location
locations=[first_location,location]
while next_location !='checkout':
    next_location=random.choices(population=trans.columns,weights=trans.loc[location])[0]
    locations.append(next_location)
#print(locations)

In [6]:
df=pd.DataFrame(locations)

In [7]:
df

          0
0    spices
1     fruit
2     fruit
3     dairy
4    drinks
5    drinks
6     dairy
7  checkout

In [8]:
ser=pd.Series(locations)

In [9]:
ser

0      spices
1       fruit
2       fruit
3       dairy
4      drinks
5      drinks
6       dairy
7    checkout
dtype: object